.cover__link {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 1184px;
    min-height: 740px;
    z-index: 0;
    text-decoration: none;
  }
  
  .cover__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(42, 44, 47, 1);
    opacity: 0.3;
    z-index: -1;
    transition: opacity 500ms ease-in-out;
  }
  .cover__link:hover:before {
    opacity: 0.8;
  } 
  @media screen and (max-width: 1024px) {
    .cover__link{
      max-width: 1024px;
      min-height: 640px;
    }
  }
  @media screen and (max-width: 768px) {
    .cover__link{
      max-width: 768px;
      min-height: 480px;
      background-size:contain;
    }
  }
  @media screen and (max-width: 760px) {
    .cover__link{
      max-width: 760px;
      background-size:cover;
    }
  }
  @media screen and (max-width: 320px) {
    .cover__link{
      background-size:contain;
      max-width: 320px;
      min-height: 200px;
    }
  }
  @media screen and (max-width: 316px) {
    .cover__link{
      background-size:cover;
    }
  }