.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1184px;
    min-height: 740px;
    z-index: 0;
    text-decoration: none;
    min-height: 300px;
  }
  
  .cover__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    z-index: -1;
    transition: opacity 500ms ease-in-out;
  }
  .cover__link:hover:before {
    opacity: 0.8;
  }  