.place__image{
  max-width: 460px;
  min-height: 460px;
  grid-column: 1;
  grid-row: 2;
}
@media screen and (max-width:1024px){
  .place__image{
    max-width: 440px;
    min-height: 440px;
  }
}
@media screen and (max-width:768px){
  .place__image{
    max-width: 340px;
    min-height: 340px;
  }
}
@media screen and (max-width:670px){
  .place__image{
    max-width: 330px;
    min-height: 330px;
    grid-row: 3;
    padding-left: 16px;
  }
}
@media screen and (max-width:375px){
  .place__image{
    padding: 0;
    max-width: 320px;
    min-height: 320px;
  }
}
@media screen and (max-width:316px){
  .place__image{
    max-width: 316px;
    min-height: 316px;
  }
}