.footer__links {
  word-spacing: 18px;
}
@media screen and (max-width: 320px) {
  .footer__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: flex-start;
  }
}
