.place__paragraph{
  margin: 0;
  max-width: 484px;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  grid-column: 2;
  grid-row: 2;
}
.place__paragraph:nth-of-type(2){
  margin-top: 26px;
}
@media screen and (max-width:1024px){
  .place__paragraph{
    max-width: 456px;
  }
}
@media screen and (max-width:768px){
  .place__paragraph{
    max-width: 352px;
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width:670px){
  .place__paragraph{
    padding-left: 16px;
    padding-right: 16px;
    max-width: 550px;
    grid-column: 1;
    grid-row: 4;
  }
}
@media screen and (max-width:320px){
  .place__paragraph{
    max-width: 288px;
  }
}
@media screen and (max-width:319px){
  .place__paragraph{
    max-width: 270px;
  }
}