.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  grid-area: paragraph;
}
@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0;
    margin-bottom: 26px;
    max-width: 352px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    line-height: 29px;
    color: #ffffff;
    grid-area: paragraph;
  }
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    margin: 0;
    margin-bottom: 25px;
    max-width: 352px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    grid-area: paragraph;
  }
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0;
    max-width: 352px;
    margin-bottom: 25px;
    margin-left: 16px;
    margin-right: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    grid-area: paragraph;
  }
}
