.lead__subtitle {
    margin: 0 auto;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 64px;
    color: #ffffff;
    max-width: 640px;
    min-height: 72px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
  }
@media screen and (max-width: 1024px){
    .lead__subtitle {
      margin-bottom: 56px;
    }
}
@media screen and (max-width: 768px){
    .lead__subtitle {
      margin-bottom: 56px;
    }
}
@media screen and (max-width: 320px){
    .lead__subtitle {
      margin-top: 16px;
      margin-bottom: 40px;
      max-width: 288px;
      min-height: 40px;
      font-size: 16px;
      line-height: 20px;
    }
}  