.place__link {
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: underline;
  border: 1px solid red;
}
.place__link:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media screen and (max-width: 1024px) {
  .place__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
  .place__link:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
@media screen and (max-width: 768px) {
  .place__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: underline;
  }
  .place__link:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
@media screen and (max-width: 768px) {
  .place__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: underline;
  }
  .place__link:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
@media screen and (max-width: 320px) {
  .place__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: underline;
  }
  .place__link:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
