@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/__lang-link_active/header__lang-link_active.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__number/intro__number.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
/* @import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__link/cover__link.css); */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
.cover {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
}
.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1184px;
  min-height: 740px;
  z-index: 0;
  text-decoration: none;
  min-height: 300px;
}

.cover__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: -1;
  transition: opacity 500ms ease-in-out;
}

.cover__background {
  position: absolute;
  z-index: -2;
  max-width: 1184px;
  min-height: 740px;
}

.cover__link:hover:before {
  opacity: 0.8;
}
.cover__title {
    margin: 0 auto;
  max-width: 560px;
  min-height: 152px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
}
.cover__subtitle{
    margin: 0 auto;
    margin-top: 32px;
    max-width: 360px;
    min-height: 66px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF; 
}
.footer__links-items{
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    padding: 0;
}