.lead__caption {
    min-height: 14px;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin-top: 8px;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 1.5px;
  }
  @media screen and (max-width: 768px){
    .lead__caption {
      margin-left: 24px;
    }
  }
  @media screen and (max-width: 320px){
    .lead__caption {
      margin-left: 24px;
    }
  }