.footer {
  margin: 0 auto;
  padding-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
  border: 1px solid red;
}
@media screen and (max-width: 768px) {
  .footer {
    margin: 0 auto;
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    margin: 0;
    padding-top: 64px;
    max-width: 186px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 24px;
  }
}
